includes:
    - %currentWorkingDirectory%/vendor/larastan/larastan/extension.neon
    - %currentWorkingDirectory%/vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    bootstrapFiles:
        - phpstan.bootstrap.php

    level: max

    paths:
        - src
        - tests

    checkMissingTypehints: true
